{% extends 'layout-admin.html' %}
{% load static %}
{% block title %}
<title>All Category</title>
{% endblock %}


{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col-md-12">
            <h3>All Category List</h3><hr>
            <h4><a href="{% url 'admincategorycreate' %}" class="btn btn-primary">Add New Category</a></h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product Category</th>
                        <th>Slug</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in allcategory %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.title}}</td>
                        <td>{{c.slug}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}