{% extends 'layout-admin.html' %} {% block title %}
<title>Admin-Dashboard</title>
{% endblock %} {% block content %}

<div class="container">
 
  {% for message in messages %} 
  {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
  {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
  <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
  {% endif %} {% endfor %}
  <div class="row mt-5">
    <div class="col">
      <div class="card text-white bg-success mb-3" style="max-width: 35rem">
        <div class="card-header text-center">Total Users</div>
        <div class="card-body c-body">
          <a href="/admin-dashboard/show-user"
            ><h1 class="card-title text-center">{{user_count}}</h1></a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-danger mb-3" style="max-width: 35rem">
        <div class="card-header text-center">Total Admins</div>
        <div class="card-body c-body">
          <a href="/admin-dashboard/show-admin"
            ><h1 class="card-title text-center">{{admin_count}}</h1></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-info mb-3" style="max-width: 35rem">
        <div class="card-header text-center">Total Products</div>
        <div class="card-body c-body">
          <a href="/admin-dashboard/admin-product/list"
            ><h1 class="card-title text-center">{{product_count}}</h1></a
          >
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-white bg-secondary mb-3" style="max-width: 35rem">
        <div class="card-header text-center">Total Category</div>
        <div class="card-body c-body">
          <a href="/admin-dashboard/admin-category/list"
            ><h1 class="card-title text-center">{{category_count}}</h1></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark mb-3" style="max-width: 35rem">
        <div class="card-header text-center">Total Pending Order</div>
        <div class="card-body c-body">
          <a href="/admin-dashboard/admin-pendingorder/"
            ><h1 class="card-title text-center">{{order_pending_count}}</h1></a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-primary mb-3" style="max-width: 35rem">
        <div class="card-header text-center">Total Orders</div>
        <div class="card-body c-body">
          <a href="/admin-dashboard/admin-all-orders/"
            ><h1 class="card-title text-center">{{order_count}}</h1></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
