 {% extends 'app/base.html' %}

{% block title %} All Products {% endblock %}

{% block main-content %}
<style>
.product{
transition: transform .2s;
}
.product:hover{

     transform: scale(1.25);
}
</style>
<div class="container">
<br>
    {% for cat in allcategories %}
    <h4>{{cat.title}}</h4><hr>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-3">
            <div class="m-4">
              <a href="{% url 'productdetail' p.slug %}" class="btn">
                <div class='item'><img src="{{p.product_image.url}}" alt="" class="img-fluid product" style="height: 250; object-fit: cover;">
                 <span class="fw-bold">{{p.title}}</span><br>
                <strike><span class="fs-6 text-info">Rs. {{p.marked_price}}</span></strike>
                <span class="fs-5">Rs. {{p.selling_price}}</span>
                </div>
                
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock main-content %} 


