{% extends 'app/base.html' %} {% load static %} {% block title %}Buy Now 
{% endblock title %} {% block main-content %}

<div class="container-lg">
  <div class="row mt-5">
    <div class="col-sm-7">
      <div class="card">
        <h4 class="mt-2 text-center">Order Summary</h4>
        <hr />
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>SN</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Total Cost</th>
            </tr>
          </thead>
          <tbody>
            {% for op in cart_items %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{op.product.title}}</td>
              <td>{{op.quantity}}</td>
              <td>Rs. {{op.product.selling_price}}</td>
              <td>Rs. {{op.total_cost}}</td>
            </tr>
            {% endfor %}
            <tr>
              <th colspan="5" class="text-center">
                Total Amount: Rs. {{totalamount}}/-
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>
        <a href=" {% url 'shippingaddress' %} " class="btn btn-dark"
          >Add Address</a
        >
      </h4>
      {% if add %}
      <h4>Select Shipping Address</h4>
      <hr />
      <form action="/paymentdone" id="myform">
        {% for ad in add %}

        <div class="card">
          <div class="card-body">
            <h5>{{ad.name}}</h5>
            <p>
              {{ad.email}},{{ad.address}}, {{ad.city}}, {{ad.province}} -
              {{ad.zipcode}}
            </p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input
            class="form-check-input"
            type="radio"
            name="custid"
            id="custadd{{forloop.counter}}"
            value="{{ad.id}}"
          />

          <label
            class="form-check-label fw-bold"
            for="custadd{{forloop.counter}}"
          >
            Address: {{forloop.counter}}
          </label>
        </div>
        {% endfor %}
        <div>
        <button class="btn btn-primary mb-2 inline-block" type="submit">Cash On Delievery</button>

        </div>
        <div class="text-end">
          <div id="paypal-button-container"></div>
        </div>
      </form>
      {% else %}
      <h2>Add Shipping Address</h2>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main-content %} {% block payment-gateway %}
<script src="https://www.paypal.com/sdk/js?client-id=AelKoVrPsxbFGj6ea16Xotd79f1qLR7UhkvYRYCbIeq1OyoilgMUzAe1Rb9DDl2fK4trKvSwW0I21yBJ&currency=USD"></script>
<script>
  paypal
    .Buttons({
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: "{{totalamount}}",
              },
            },
          ],
        });
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          alert(
            "Transaction completed by " + details.payer.name.given_name + "!"
          );
          document.getElementById("myform").submit();
        });
      },
    })
    .render("#paypal-button-container");
</script>
{% endblock payment-gateway %}
