{% load static %}
<link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
  <div class="footer">
    <div class="container">
      <div class="d-flex justify-content-around align-items-center flex-wrap">


        <div class="footer-col-1 ">
          <h3>Download Our App</h3>
          <ul>
            <li><a href="https://play.google.com/"> <img src="{% static 'app/images/play-store.png' %}" alt="playstore image"></a></li>
            <li> <a href="https://www.apple.com/app-store/"><img src="{% static 'app/images/app-store.png' %}" alt="appstore image"></a></li>
          </ul>
        </div>


        <div class="footer-col-2">
          <h3>Useful Links</h3>
          <ul>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">About Us</a></li>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">Contact Us</a></li>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">Blog</a></li>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">FAQ's</a></li>
          </ul>

        </div>

        <div class="footer-col-3">
          <h3>Our Policies</h3>
  
          <ul>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">Terms and Conditions</a></li>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">Data Policy</a></li>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">Return Policy</a></li>
            <li> <a href="http://" target="_blank" rel="noopener noreferrer">Refund Policy</a></li>
          </ul>

        </div>

      </div>
      <div class="footer-col-4">
        <h3>Follow Us</h3>
        <ul class="d-flex align-center justify-content-center">
          <li><a href="http://www.facebook.com"><i class="fab fa-facebook"></i> </a></li>
          <li><a href="http://www.instagram.com"> <i class="fab fa-instagram"></i> </a></li>
          <li><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
          <li><a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
      <hr>
      <p class="text-center mb-1 mt-4 copyright">Copyright &copy;2021-Gaming Accessories House. All Rights Reserved.</p>
    </div>
  </div> 