{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block main-content %}

<style>
.product{
transition: transform .2s;
}
.product:hover{

     transform: scale(1.25);
  
}
</style>

<div class="container">

    <h1 class="text-center">Welcome to Gaming Accessories House</h1>
    <hr>
   <div class="row mt-3">
        {% for p in product_list %}
        <div class="col-md-3 card">
            <div class="m-4">
                <a href="{% url 'productdetail' p.slug %}" class="btn">
                <div class='item'><img src="{{p.product_image.url}}" alt="" class=" product w-100">
                 <h3>{{p.title}}</h3><br>
                {% comment %} <span class="fs-5"><strike class="fs-6 text-info">Rs.{{p.marked_price}}</strike> Rs.{{p.selling_price}}</span> {% endcomment %}

                <strike><span class="fs-6 text-info">Rs. {{p.marked_price}}</span></strike>
                <span class="fs-5">Rs. {{p.selling_price}}</span>
                </div>
            
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

        <nav aria-label="...">
        <ul class="pagination">
            {% if product_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            {% for i in product_list.paginator.page_range %}
            {% if i == product_list.number %}
            <li class="page-item active"><a class="page-link">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if product_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
      </nav>

    
{% endblock main-content %}