{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
     <div class="container">
       <a class="navbar-brand" href="/"> </a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/">Home</a>
           </li>
          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{% url 'all-products' %}">All Categories</a>
           </li> 
         </ul>
         <form class="d-flex" action="{% url 'search' %}" method="get" >
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="keyword" required>
           <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
         </form>
         <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{% if request.user.is_authenticated %}

           <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white " href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
               {{request.user.username|capfirst}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a class="dropdown-item" href="{% url 'userprofile' %}">Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
           
            <li class="nav-item mx-2">
             <a href="{% url 'showcart' %}" class="nav-link text-white"><span class="badge bg-danger">{{totalitem}}</span> Cart </a>
            </li>


           {% else %}
            <li class="nav-item mx-2">
             <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
            </li>
            <li class="nav-item mx-2">
             <a href="{% url 'customerregistration' %}" class="nav-link text-white">Registration</a>
            </li>
           {% endif %}


{% if request.user.is_staff %}

            <li class="nav-item mx-2">
             <a href="{% url 'dashboard' %}" class="nav-link text-white"><span class="badge bg-danger"></span> Admin Dashboard </a>
            </li>
            {% endif %}


          </ul>
         </div>
       </div>
     </div>
    </nav>