{% extends 'app/base.html' %} {% load static %} {% block title %}Change Password
{% endblock title %} {% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome {{request.user.username|capfirst}}</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid">
          <a href="{% url 'userprofile' %}" class="btn btn-success cpd-btn">Change Password Done</a>
        </li>
      </ul>

    </div>
     <div class="col-sm-9 offset-sm-1">
      <h3>Password Changed SuccessFully</h3>
      <div>
      <iframe src="{% static 'app/images/complete.gif' %}" width="500" height="300" class="gif"frameborder="0" class="giphy-embed" allowFullScreen></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
