{% extends 'app/base.html' %} {% load static %} {% block title %} Product
Detail{% endblock title %} {% block main-content %}

<div class="container">
  <div class="row mt-5 pro-detail">
    <div class="col-sm-5 p-details card mb-5 p-4">
      <img src="{{product.product_image.url}}" alt="" class="p-image">
    </div>
    <div class="col-sm-6 offset-1 productdetails mt-5">
      <p class="p-title">{{product.title}}</p>  
      <p>Brand: {{product.brand}}</p>
 
      <p>  <span class="text-decoration-line-through mprice text-dark"> Rs. {{product.marked_price}}</span>  <span class="sprice">Rs. {{product.selling_price}}</span> </p>
      <h5 class="font-weight-bold">Product Description</h5>
      <p>{{product.description}}</p>


      {% if request.user.is_authenticated %} {% if item_already_in_cart %}
      <a href="{% url 'showcart' %}" class="btn btn-primary px-5 py-2 pro-btn">Go To Cart</a>
      {% else %}
      <form action="/add-to-cart">
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id" />
        <button type="submit" class="btn btn-primary py-2 px-5 pro-btn">
          Add To Cart
        </button>
      </form>
      {% endif %} {% endif %} {% if not request.user.is_authenticated %}
      <form action="/add-to-cart d-inline">
        <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id" />
        <button type="submit" class="btn btn-primary py-2 px-5 pro-btn">
          Add To Cart
        </button>
      </form>

      {% endif %}

    </div>
  </div>
</div>

{% endblock main-content %}