@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	
}

.cart-icon {
    font-size: 19px;
  }

/*  bannner section */
.carousel-item img {
	height: 600px !important;
}

/*products-detail section */

.p-title{
	color:#2d3748;
	font-size: 0.875;
	font-weight: 700;
	}
	.p-image{
	  width:80%;
	  height: auto;
	}
	

/* all products section */

.category-title{
    font-size:1.5rem;
    font-weight:700;
    color:#707b8e;

text-align: center;
  margin: 0 auto 20px;
  position: relative;
  line-height: 60px;
}
.category-title:hover{
    color:black;
}


.category-title::after {
  content: ' ';
  background:black;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}



.all-products{

    width:100%;
    margin:auto;
  }
 .mprice{
	  color:#bdbdbd;
	  font-weight:500;
	  text-decoration:line-through;
  }
  
 .sprice{
	  color:#103755;
	  font-size:1.125rem;
	  font-weight:700;
  }
  
 .details .ptitle{
	  color:#707b8e;
	  font-size:0.875rem;
  }
  
 .details .ptitle:hover{
  color:#103755; 
  transform:scale(1);
  background:#eee;
  }
  
  .product-details{
	
	  transition: transform .2s;
  }
 .all-products .product-img{
  width:80%; 
  
  }
  .product-details:hover{
  transform: translateY(-5px);
  
  } 

/* footer section */

.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #24262b;
	padding: 70px 0;
	line-height: 1.5;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

